<div class="price-ticker">
  <div class="ticker-content">
    <div class="ticker-item">
      <span class="crypto-symbol">BTC</span>
      <span class="price">$67,890</span>
      <span class="change positive">+2.45%</span>
    </div>
    
    <div class="ticker-item">
      <span class="crypto-symbol">ETH</span>
      <span class="price">$3,456</span>
      <span class="change negative">-1.23%</span>
    </div>
    
    <div class="ticker-item">
      <span class="crypto-symbol">BNB</span>
      <span class="price">$245</span>
      <span class="change positive">+0.87%</span>
    </div>
    
    <div class="ticker-item">
      <span class="crypto-symbol">SOL</span>
      <span class="price">$89</span>
      <span class="change positive">+5.21%</span>
    </div>
  </div>
</div>
